@{
    ViewBag.Title = "EscogerTipo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header{
    <div class='container'>
        <h2>Por favor escoja el tipo de usuario</h2>
    </div>
}

@section content{
    <div class='iconed-features lift-on-hover style-1'>
        <div class='row'>
            <div class='col-md-6'>
                <div class='btn-show-on-parent-hover'>
                    <a class='read-more-link' href='/Usuario/Crear'>
                        <div class='iconed-feature'>
                            <div class='feature-icon-w'>
                                <i class='icon-home'></i>
                            </div>
                            <h4>Usuario particular</h4>
                            <p>Clean and simple design is what people want nowadays.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class='col-md-6'>
                <div class='btn-show-on-parent-hover'>
                    <a class='read-more-link' href='#'>
                        <div class='iconed-feature'>
                            <div class='feature-icon-w'>
                                <i class='icon-briefcase'></i>
                            </div>
                            <h4>Empresa o Entidad pública</h4>
                            <p>Clean and simple design is what people want nowadays.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class='btn-show-on-parent-hover'>
                    <a class='read-more-link' href='#'>Crear</a>
                </div> -->
}