@{
    ViewBag.Title = "InformacionIDS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section content{
<div>
        <div>
            <h3>Criterios para el calculo del Índice de Desarrollo Social?</h3>
            <p style="padding:3px 0 16px 0;margin:0;font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 16px;font-weight: 300;color:#999;">
                Se construye a partir de un conjunto de 11 índices socioeconómicos, cuya principal fuente de datos son las estadísticas administrativas de las instituciones
            públicas. 
                El IDS se muestra en valores entre 100 y 0. Un valor de 100 significa que, en promedio, el distrito tiene los mejores indicadores, en relación con el resto.
            </p><br>
        </div>
        <div>
            <IMG SRC="/assets/images/IDS/IDS.png" class="col-md-6" style="width:80%; padding-left:20%; padding-right:0%; HEIGHT:100%"  ALT="Criterios para el calculo del IDS">
        </div>
    </div>
    }
